*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
   place-content: center;
   place-items: center ;
   grid-gap: 15px;
   font-size: larger;
}
.btn-group{
    display: flex;
    gap: 10px;
   
}
button{
    background-color: darksalmon;
    color:black;
    padding: 5px;
    border: none;
    border-radius: 3px;

}

